<div class="header">
  <div class="headerTitles">
    <span class="headerTitleSm">SmartEco4Future</span>
    <span class="headerTitleLg">Blog</span>
    <span class="headerTagline">Let's Make Earth GREEN Again!</span>
  </div>
  <img class="headerImg" src="/img/header.jpg" alt="Header image" />
</div>