<section class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="/img/logo.png" width="60" height="75" alt="SmartEco4Future">
  </a>
  <nav class="nav"> 
    <ul>
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/about" class="nav-link">About</a></li>
      <li><a href="/blog" class="nav-link">Blog</a></li>
      <li><a href="/submit-post" class="nav-link">Write</a></li>
    </ul>
  </nav>
  <div class="search">
    <form method="POST" action="/search">
      <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</section>