<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="/img/about.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3">Who Are We?</h2>
            <p class="lead fs-4 text-secondary mb-3 text-justify">Welcome to <strong>Smart Eco 4 Future</strong>, your ultimate source for all things green and smart technology! </p>
            <p class="mb-5 text-justify"> We are dedicated to providing you with insightful content about the technologies that will shape a sustainable future. Our platform covers a diverse range of categories, including Renewable Energy, Sustainable Transportation, Smart Grids, Green IoT Technology, and Eco Architecture. At <strong>Smart Eco 4 Future</strong>, we believe in the power of innovation and sustainable practices to create a better world for all. Our platform encompasses an array of categories, each playing a crucial role in the transition to a greener and smarter future.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
