
<div class="submit-container">

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold write-post">Add a Category</h1>
  </div>

  <div class="row justify-content-center">
    <div class="row justify-content-center">

      <!-- Display success & error messages -->

    <% if (infoSubmitObj && infoSubmitObj.length > 0) { %>
  <div class="col-8 alert alert-success" role="alert">
    <%= infoSubmitObj[0] %> <span class="see-updated">See the new<a href="<%= catURL %>" class= "see-post">category</a></span>   
  </div>
<% } %>

      <% if (validationErrors && validationErrors.length > 0) { %>
        <div class="col-8 alert alert-danger" role="alert">
          <ul>
            <% validationErrors.forEach(function (errorMessage) { %>
              <li><%= errorMessage %></li>
            <% }) %>
          </ul>
        </div>
      <% } %>

      <div class="col-8">

        <!--Submit CATEGORY form-->
        <form action="/submit-category" method="POST" enctype="multipart/form-data" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="nameCat" class="form-control"
               required>
              </div>             

              <div class="col-12">
                <label for="image">Category Image</label>
                <input type="file" class="form-control" name="imageCat" accept="image/*">
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit Category</button>
              </div>
            </div>
          </div>
        </form>
        <!--End form-->
      </div>
    </div>
  </div>
</div>

